body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #001e1d;
}

h5 {
    margin: .5rem 0 .5rem;
}

a {
    text-decoration: none;
    color: #001e1d;
}

.active {
    color: #f9bc60 !important;
}

.scroll-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: sticky;
    bottom: 100px;
    cursor: pointer;
    z-index: 100;
    font-size: 2rem;
    color: #f9bc60;
}