/* Path,Park Component CSS */
.park-container,
.path-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;

}



.path-content {
    box-sizing: border-box;
    min-width: 300px;
    border: 1px solid #001e1d;
    /* margin-bottom: 30px; */
    width: 25%;
}

.park-content {
    box-sizing: border-box;
    min-width: 300px;
    border: 1px solid #001e1d;
    /* margin-bottom: 30px; */
    width: 25%;
}

.park-info,
.path-infomation {
    text-align: center;
}

.path-infomation p,
.park-info p {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.path-infomation h4,
.park-info h4 {
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.park-img,
.path-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.park-img img,
.path-photo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.park-search,
.path-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.park-text,
.path-text {
    font-size: 1rem;
}

/* Page CSS  */
.explore-header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-1 {
    margin-top: 0;
}

.section-1-top {
    /* background-color: tomato; */
    border-bottom: 2px solid #001e1d;
}

.section-1-top h1,
.section-2-top h1 {
    padding: 50px 30px 0;
    margin: 0;
}

.section-1-top h3,
.section-2-top h3 {
    padding: 0 30px 50px 30px;
}

.section-1-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #001e1d;
}

.path-search {
    flex: 70%;
    border-right: 2px solid #001e1d;
    padding: 30px 0;
}

.section-1-bottom-right {
    flex: 30%;
    display: flex;
    justify-content: center;
}

.section-bottom-right:hover {
    background-color: #001e1d;
}

.section-1-bottom-right button {
    background-color: #001e1d;
    color: #fffffe;
    font-size: 1rem;
    padding: 15px 24px;
    border: none;
}

.section-1-bottom-right button:hover {
    color: #001e1d;
    background-color: #f9bc60;
}

.section-2 {
    border-top: 2px solid #001e1d;
    border-bottom: 2px solid #001e1d;
    display: flex;
    flex-direction: row;
}

.section-2-top {
    flex: 70%;
}

.park-search h1 {
    margin-left: 30px;
    font-size: 1rem;
}

.park-search {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid #001e1d;
}



@media (max-width: 60em) {

    .path-content,
    .park-content {
        width: 50%;
    }
}


@media (max-width: 50em) {
    .section-1-bottom {
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #001e1d;
    }

    .path-search {
        border-right: none;
        width: 100%;
        border-bottom: 1px solid #001e1d;
    }

    .section-1-bottom-right {
        padding: 30px 0;
    }

    .section-2 {
        flex-direction: column;
    }

    .section-2-top {
        border-bottom: 1px solid #001e1d;
    }

    .park-search {
        padding: 30px 0;
        align-items: center;
        flex-direction: row;
    }
}

@media (max-width: 50em) {
    .section-1-top h1, .section-2-top h1 {
        font-size: 1.5rem;
    }

    .section-1-top h3, .section-2-top h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    .section-1-bottom-right button {
        font-size: 0.875rem;
    }

    .path-content, .park-content {
        width: 100%;
    }

    .path-search,
    .park-search {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        border-left: none;
        padding-left: 0;
    }

    .park-search h1 {
        margin-left: 0;
    }

    .park-search input,
    .path-search input {
        width: 200px !important;
        margin-left: 0px !important;
    }
}