.footer1 {
    /* width: 100%; */
    min-height: 400px;
    background-color: #001e1d;
    background-image: url('../assest/bg-line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    color: #fffffe;
    padding: 50px 0;
}

.footer-left,
.footer-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.footer-left-col1 {
    width: 30%;
}

.footer-left-col2 {
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-link1,
.footer-link2 {
    display: flex;
    flex-direction: column;
}

.footer-link2 {
    margin-left: 80px;
}


.footer-left-col2 h3,
.footer-right-col1 h3,
.footer-right-col2 h3 {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-left-col1 a,
.footer-left-col2 a,
.footer-right-col2 a {
    color: #fffffe;
    margin-bottom: 15px;
    font-size: .875rem;
    font-weight: 600;
    cursor: none;
}

.footer-right-col2 a {
    margin-right: 25px;
    cursor: none;
}


.footer-left-col1 h2 {
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 0;
}

.footer-left-col1 p {
    font-size: .75rem;
    line-height: 1.25rem;
}

.signup-cta {
    padding: 10px;
    background-color: #f9bc60;
    border: none;
    font-weight: 500;
}

input {
    padding: 10px 10px;
    border: none;
}



@media (max-width: 60em) {
    .footer1 {
        flex-direction: column;
        background-size: contain;
        background-position: bottom;
        padding: 50px 0 150px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        margin-bottom: 50px;
    }
}


@media (max-width: 30em) {

    .footer1 {
        flex-direction: column;
        background-size: contain;
        background-position: bottom;
        padding: 50px 30px 120px 30px;
    }

    .footer-left-col1,
    .footer-right-col1,
    .footer-right-col2,
    .footer-left-col2 {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-left {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 0px;
    }

    .footer-right {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 0px;
    }

}

/* For larger screen */
@media (min-width: 120em) {
    .footer1 {
        background-size: cover;
        background-position: center;
        padding: 50px 30px 120px 30px;
    }

}