.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #001e1d;
  border-top: 2px solid #001e1d;
}

.footer-content {
  position: absolute;
  white-space: nowrap;
  /* padding: 20px; */
  /* border-top: 8px solid #001e1d; */
  animation: marquee 80s linear infinite;
}

.footer-content p {
  /* padding: 0;
  margin: 0px; */
  margin-top: 1.5rem;
  color: #f9bc60;
  font-size: .875rem;
  line-height: .9;
  text-transform: uppercase;
  font-weight: 600;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}