.nav1 {
    top: 0px;
    z-index: 10;
    display: flex;
    height: 6vh;
    border: 2px solid #001e1d;
}


.bike {
    background: url('../assest/Bike.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 60px;
    height: 30px;
}

.nav-left {
    display: flex;
    flex: 25%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #001e1d;
    border-right: 2px solid #001e1d;
}

.nav-left a {
    text-decoration: none;
    color: #fffffe;
    font-weight: 700;
    font-size: .875rem;
    line-height: .9;
    text-transform: uppercase;
    /* border: 2px solid #001e1d; */
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px 9px;
    margin: 15px;
}

.nav-middle {
    display: flex;
    flex: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fffffe;
}

.nav-middle a {
    text-decoration: none;
    font-size: 30px;
    color: #001e1d !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: .9;
}


.nav-right {
    display: flex;
    flex: 25%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #001e1d;
    border-left: 2px solid #001e1d;
}

.nav-right a {
    text-decoration: none;
    color: #fffffe;
    font-weight: 700;
    font-size: .875rem;
    line-height: .9;
    text-transform: uppercase;
    /* border: 2px solid #001e1d; */
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px 9px;
    margin: 5px;
}

.nav-left a:hover,
.nav-right a:hover {
    color: #f9bc60;
    transition: background-color .3s linear, color .3s linear;
}


.hidden-menu button {
    display: none;
}


@media (max-width: 60em) {
    .hidden-menu button {
        display: flex;
        position: absolute;
        left: 2vh;
        top: 2vh;
        padding: 11px 11px;
        background-color: hsla(38, 22%, 90%, 0);
        background-image: url('../assest/bars-solid.png');
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: contain;
        border: none;
        border-radius: 5px;
        margin-top: 0;
        z-index: 1000;
    }

    #hidden {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        background: #004643;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .nav-left a {
        color: #f9bc60;
        font-size: 2rem;
        background-color: rgb(0, 0, 0, 0);
        margin: 10px auto;
    }

    .nav-left {
        justify-content: center;
    }

    .nav-right,
    .nav-left {
        display: none;
        padding-left: 0;
    }

    .nav-middle {
        padding: 10px 20px
    }

    .nav1 {
        border: none;
        border-bottom: 2px solid #001e1d;
        border-top: 2px solid #001e1d;
    }
}

@media (min-width:120em) {
    .nav-left {
        justify-content: space-around;
    }
}