.pathdetail-container {
    display: flex;
    flex-direction: row;
}

.pathdetail-left {
    flex: 60%;
    border-right: 2px solid #001e1d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pathdetail-left-content {
    /* background-color: #f9bc60; */
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px solid #001e1d;
}

.pathdetail-right {
    width: 40%;
    min-height: 800px;
    height: 100%;
    position: sticky;
    top: 0px;
    background-color: #001e1d;
}

.pathdetail-right h5 {
    padding: 100px 50px 50px;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #fffffe;
}

.pathdetail-right p {
    padding: 0 50px;
    font-size: .875rem;
    margin: 1rem 0;
    color: #fffffe;
}

.pathdetail-left h1 {
    padding: 20px 30px;
}

.pathdetails-main {
    padding: 20px 30px;
    max-width: 600px;
}

.backarrow {
    padding: 50px 30px 0;
}

.backarrow span {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.backarrow span:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    color: #f9bc60;
    transition: background-color .3s linear, color .3s linear;
}

.pathdetail-review {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid #001e1d;
}

.pathdetail-review h3 {
    padding-left: 30px;
}

.detail-review {
    background-color: rgb(171, 209, 198, 0.2);
    padding: 20px 30px;
    border-top: 1px solid #001e1d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail-review h4 {
    font-size: 0.875rem;
    font-weight: 600;
}

.detail-review p {
    font-size: 1rem;
    font-weight: 700;
    width: 90%;
}

.detail-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-user-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.edit-path-btn {
    padding: 50px 50px;
    font-size: 1rem;
    line-height: 1.4rem;
}



@media (max-width: 80em) {
    .pathdetail-left {
        width: 50%;
    }

    .pathdetail-right {
        width: 50%;
    }

    .pathdetail-left-content h1 {
        font-size: 1.5rem;
    }

    .pathdetail-left-content img {
        width: 80%;
    }
}

@media (max-width: 45em) {
    .pathdetail-container {
        flex-direction: column-reverse;
    }

    .pathdetail-left-content h1 {
        font-size: 1.2rem;
    }

    .pathdetail-left,
    .pathdetail-right {
        width: 100%;
    }

    .pathdetail-right {
        position: relative;
        height: auto;
        min-height: 0;
    }

    .pathdetail-right h5,
    .edit-path-btn {
        padding: 50px 30px;
    }

    .pathdetail-right p {
        padding: 0 30px;
    }
}


@media (min-width:120em) {
    .pathdetails-main {
        max-width: 1000px;
    }
}