.Shop-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.shop-wide,
.rental-wide {
    width: 65%;
    height: 500px;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.shop-thin {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

.shop-thin-title,
.shop-wide-main,
.rental-wide-main {
    width: 80%;
    height: 100%;
}

.shop-thin-title p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px solid #001e1d;
    border-top: 2px solid #001e1d;
}

.shop-wide-media {
    background-image: url('https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1122&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.shop-wide-text h3,
.rental-wide-text h3 {
    font-size: 2rem;
}

.rental-wide-text h6,
.shop-wide-text h6,
.shop-thin-text h5,
.rental-wide-text h5 {
    font-size: 0.75rem;
    background-color: #f9bc60;
    display: inline-block;
    margin: 0;
}

.shop-wide-text p,
.shop-thin-text p,
.rental-wide-text p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.shop-thin-main {
    width: 80%;
    height: 100%;
    display: block;
    margin-bottom: 60px;
}


.shop-thin-media {
    background-image: url('https://assets.specialized.com/i/specialized/ROAD-4267_AETHOS_LC_1?$hybris-pdp-photo-carousel$');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 260px;
    /* object-fit: contain; */
}

.shop-thin-media2 {
    background-image: url('https://images.giant-bicycles.com/b_white,c_pad,h_850,q_80/r53nze36dx9k9yxmdlzm/MY22TCRAdvancedSL1Disc_ColorAStarryNight.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 260px;
}

.shop-thin-media3 {
    background-image: url('https://trek.scene7.com/is/image/TrekBicycleProducts/DomanePlusLT9_22_35761_A_Portrait?$responsive-pjpg$&cache=on,on&wid=1920&hei=1440');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 260px;
}

.shop-thin-media4 {
    background-image: url('https://embed.widencdn.net/img/dorelrl/d2dahjxeqy/2000px@1x/C22_C25572U_Moterra_Neo_Crb_LT_2_BBQ_PD.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 260px;
}

.shop-thin-media5 {
    background-image: url('https://images.ctfassets.net/tu8gkjqcgjw9/W1XziIctDK5l1LbJviLXU/abc65c2309f90f113045f56c13675675/Super73_RX_Accessories_1920x1080.jpg?w=1920&h=1080&q=85&fm=webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 260px;
}

.shop-thin-media6 {
    background-image: url('https://www.colnago.com/media/atelier-middle-banner.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 260px;
}

.shop-thin-media7 {
    background-image: url('https://cdn.shopify.com/s/files/1/0232/3305/products/State_Bicycle_Co_4130-MatteBlack_Mirror_FixedGear_Single-Speed_-10.jpg?v=1649192707');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 260px;
}





/* .rental-thin {
    width: 35%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
} */

.rental-Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 300px;
    padding-bottom: 300px;
}

.rental-wide-text {
    padding-bottom: 300px;
}

.rental-wide-media {
    background-image: url('https://images.unsplash.com/photo-1420641519650-9d7d0ea0a829?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.rental-thin-media {
    background-image: url('https://images.ctfassets.net/p6ae3zqfb1e3/3fyi4QZE972WfZuuRDX5JU/521ef35c5b795af824ce05e1491cf66d/day-passes.png?w=1500&q=60&fm=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
}

.rental-thin-media1 {
    background-image: url('https://res.cloudinary.com/unlimited-biking/images/w_1170,h_400,c_fill,g_auto/f_webp,q_auto:good/v1609146006/Highlights-of-Brooklyn-Bridge-Bike-Tour-6-min/Highlights-of-Brooklyn-Bridge-Bike-Tour-6-min-1170x400.jpg?_i=AA');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
}

.rental-thin-media2 {
    background-image: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/08/3a/96/35.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
}

.rental-thin-media3 {
    background-image: url('https://astoriapost.com/wp-content/uploads/sites/27/2019/05/homepage-section-header-howtorevel-767x660.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
}