.nav {
    display: flex;
    border-bottom: 1vh solid #001e1d;
}
.left {
    flex: 10%;
    background: url('../assest/Bike-sm.png');
    background-color: #f9bc60;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 8vh;
    border-right: 8px solid #001e1d;
}
.middle {
    flex:75%;
    display: flex;
    align-items: center;
    background-color: #fffffe;
    border-right: 8px solid #001e1d;
}

.middle a {
    text-decoration: none;
    padding-left:3em;
    font-size: 18px;
    font-weight:700;
    color:#001e1d;
}

.right{
    flex: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001e1d;
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight:700;
    color:#fffffe;
}